@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Oswald&family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap");
#navBar {
  background-color: transparent !important;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
#logo {
  font-family: "Megrim";
  margin: 1rem 0 0 10rem;
  font-size: 2rem;
  height: 4rem;
  width: 20rem;
  font-weight: bolder;
}
.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
  margin-right: 2rem;
}
.checkout{
  margin-right: 2rem;
}
